.card__like-button {
    border: 0;
    padding: 0;
    margin-left: 15px;
    min-width: 21px;
    height: 29px;
    background-color: inherit;
    background-image: url("../../../images/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
}